<%= div_for patient do %>
    <tr>
		<td><%= editable_field patient, :numberOfTag %></td>
		<td><%= patient.color %></td>
		<td><%= patient.sex %></td>
		<td><%= patient.age %></td>
		<td><%= patient.ageType %></td>
		<td><%= patient.complaint %></td>
		<td><%= button_to "X", patient, :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?", :remote => true %></td>
  
<% end %>